# 19.Proje-Salary Prediction for Job Postings-İş İlanları Maaş Tahmini
# Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",100)

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/usjobs/usjobs_train.csv/usjobs_train.csv
/kaggle/input/usjobs/usjobs_test.csv/usjobs_test.csv

In [3]:
dftrain=pd.read_csv("/kaggle/input/usjobs/usjobs_train.csv/usjobs_train.csv")
dftest=pd.read_csv("/kaggle/input/usjobs/usjobs_test.csv/usjobs_test.csv")

In [4]:
dftrain.head()

,ID,Job,Jobs_Group,Profile,Remote,Company,Location,City,State,Frecuency_Salary,Mean_Salary,Skills,Sector,Sector_Group,Revenue,Employee,Company_Score,Reviews,Director,Director_Score,URL
0,job_f2c807527f687b96,"Part-time Reporting Business Analyst, Data & A...",Financial Analyst,NaN,Remote,Sandy Hook Promise Foundation,Remote,NaN,NaN,hour,115000.0,"['Salesforce', 'Bachelor']",NGOs and Nonprofit Organizations,Nonprofit Organizations,NaN,XS,4.2,20.0,NaN,NaN,https://www.sandyhookpromise.org/
1,job_2660d4c53505af10,Controller,Controller,NaN,NaN,Building Service 32BJ Benefit Funds,"New York, NY 10013 (Tribeca area)",New York,NY,year,185000.0,"['SQL', 'Master', 'Dynamics 365', 'Snowflake',...",NGOs and Nonprofit Organizations,Nonprofit Organizations,NaN,M,3.5,58.0,"Peter Goldberger, Executive Director",0.70,NaN
2,sj_50358c44328ae06a,Sr Finance Analyst,Financial Analyst,Senior,NaN,LCS,NaN,NaN,NaN,year,84500.0,"['Word', 'Bachelor', 'Excel']",Personal Consumer Services,Sales,XXXS,XXXS,3.4,88.0,NaN,NaN,NaN
3,job_a087fd700e3e85f0,Senior Business Intelligence Analyst,Business Intelligence,Senior,Hybrid,Federal Reserve Bank of Richmond,"Richmond, VA 23219 (Central Office area)",Richmond,VA,year,111625.0,"['PowerPoint', 'Power BI', 'Tableau', 'Word', ...",Banking and Credit Services,Finance,XXL,XL,3.8,30.0,Tom Barkin,0.70,https://www.richmondfed.org/
4,job_d2a2538a2c4d2033,Data Center Operations Analyst (Temporary Assi...,Operations Analyst,NaN,Remote,Los Angeles County Office of Education,"Downey, CA 90242+1 ubicación",Downey,CA,hour,102690.4,['Office'],State and Regional Agencies,Government,NaN,XL,4.2,186.0,Debra Duardo,0.85,NaN

In [5]:
print(dftrain.shape)
print(dftest.shape)

(33248, 21)
(22166, 20)

In [6]:
dftest['Mean_Salary'] = 0

In [7]:
dftest.head(1)

,ID,Job,Jobs_Group,Profile,Remote,Company,Location,City,State,Frecuency_Salary,Skills,Sector,Sector_Group,Revenue,Employee,Company_Score,Reviews,Director,Director_Score,URL,Mean_Salary
0,sj_99ad4f80ae7f4835,Business Analyst Manager,Business Analyst,Lead,Remote,Dryden Mutual Insurance Company,"Dryden, NY 13053",Dryden,NY,year,"['PowerPoint', 'Office', 'Excel', 'Agile']",Insurance Companies and Investment Societies,Insurance,NaN,NaN,5.0,2.0,NaN,NaN,NaN,0

In [8]:
# dftrain ve dftesti veri çerçevelerini birleştirme
df = pd.concat([dftrain, dftest], ignore_index=True)

In [9]:
df.shape

(55414, 21)

In [10]:
df.isnull().sum()

ID                      0
Job                     0
Jobs_Group              0
Profile             35168
Remote              32141
Company                19
Location               21
City                 6449
State                5231
Frecuency_Salary        0
Mean_Salary             0
Skills                  0
Sector              11949
Sector_Group        11949
Revenue             30340
Employee            21217
Company_Score       14590
Reviews             14590
Director            34446
Director_Score      36388
URL                 26552
dtype: int64

In [11]:
columns_with_nan = ['Profile', 'Remote', 'Company', 'Location', 'City', 'State', 'Sector', 'Sector_Group', 'Revenue', 'Employee', 'Company_Score', 'Reviews', 'Director', 'Director_Score', 'URL']

for column in columns_with_nan:
    df[column].dropna(inplace=True)

In [12]:
df = df.fillna(0)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55414 entries, 0 to 55413
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                55414 non-null  object
 1   Job               55414 non-null  object
 2   Jobs_Group        55414 non-null  object
 3   Profile           55414 non-null  object
 4   Remote            55414 non-null  object
 5   Company           55414 non-null  object
 6   Location          55414 non-null  object
 7   City              55414 non-null  object
 8   State             55414 non-null  object
 9   Frecuency_Salary  55414 non-null  object
 10  Mean_Salary       55414 non-null  float64
 11  Skills            55414 non-null  object
 12  Sector            55414 non-null  object
 13  Sector_Group      55414 non-null  object
 14  Revenue           55414 non-null  object
 15  Employee          55414 non-null  object
 16  Company_Score     55414 non-null  float64
 17  Reviews           55414 non-null  float64
 18  Director          55414 non-null  object
 19  Director_Score    55414 non-null  float64
 20  URL               55414 non-null  object
dtypes: float64(4), object(17)
memory usage: 8.9+ MB

In [14]:
df.drop(columns=['ID'], inplace=True)

In [15]:
df['Profile'] = df['Profile'].replace({'Senior': 3, 'Lead': 2, 'Junior': 1}).astype(int)
df['Remote'] = df['Remote'].replace({'Remote': 0, 'Hybrid': 1}).astype(int)
df['Frecuency_Salary'] = df['Frecuency_Salary'].replace({'year': 1, 'hour': 0, 'month': 2, 'day': 3, 'week': 4}).astype(int)

In [16]:
# Sözlük oluştur
revenue_mapping = {
    'XXXL': 1,
    'XL': 2,
    'M': 3,
    'XXL': 4,
    'XS': 5,
    'S': 6,
    'L': 7,
    'XXS': 8,
    'XXXS': 9,
}

# 'Revenue' sütunundaki değerleri replace ile sayısal değerlere dönüştürme
df['Revenue'] = df['Revenue'].replace(revenue_mapping)
# 'Revenue' sütununu int veri tipine çevirme
df['Revenue'] = df['Revenue'].astype(int)

In [17]:
# job groups sutunu job sutunu ile benzer ifadelere sahip olduğundan silebilirz
df = df.drop('Job', axis=1)
# cıtyden ötürü location ve state siliyoruz
df = df.drop('Location', axis=1)
df = df.drop('State', axis=1)
# sector grouptan ötürü sector u siliyoruz
df = df.drop('Sector', axis=1)
# Employee revenue ile benzer silelim
df = df.drop('Employee', axis=1)
# Director a gerek olmadığını düşünüyoruz
df = df.drop('Director', axis=1)
# URL de gerek yok
df = df.drop('URL', axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55414 entries, 0 to 55413
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Jobs_Group        55414 non-null  object
 1   Profile           55414 non-null  int64
 2   Remote            55414 non-null  int64
 3   Company           55414 non-null  object
 4   City              55414 non-null  object
 5   Frecuency_Salary  55414 non-null  int64
 6   Mean_Salary       55414 non-null  float64
 7   Skills            55414 non-null  object
 8   Sector_Group      55414 non-null  object
 9   Revenue           55414 non-null  int64
 10  Company_Score     55414 non-null  float64
 11  Reviews           55414 non-null  float64
 12  Director_Score    55414 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 5.5+ MB

In [19]:
df_get = pd.get_dummies(df, columns=['Jobs_Group', 'Company', 'City', 'Skills', 'Sector_Group'])

In [20]:
df_get.shape

(55414, 38454)

In [21]:
df_get.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55414 entries, 0 to 55413
Columns: 38454 entries, Profile to Sector_Group_Transportation and Logistics
dtypes: bool(38446), float64(4), int64(4)
memory usage: 2.0 GB

In [22]:
# Eğitim ve Test verilerini modele vermeden ayırıyoruz
train=df_get[:33248]
test=df_get[33248:]

In [23]:
train.info

<bound method DataFrame.info of        Profile  Remote  Frecuency_Salary  Mean_Salary  Revenue  Company_Score  \
0            0       0                 0   115000.000        0            4.2
1            0       0                 1   185000.000        0            3.5
2            3       0                 1    84500.000        9            3.4
3            3       1                 1   111625.000        4            3.8
4            0       0                 0   102690.400        0            4.2
...        ...     ...               ...          ...      ...            ...
33243        0       0                 1    47206.495        0            3.6
33244        0       0                 1    79741.000        0            3.3
33245        0       0                 1   119908.000        2            4.3
33246        0       0                 0   115000.000        0            0.0
33247        2       0                 1   155000.000        0            3.5

       Reviews  Director_Score  Jobs_Group_Analyst  \
0         20.0            0.00               False
1         58.0            0.70               False
2         88.0            0.00               False
3         30.0            0.70               False
4        186.0            0.85               False
...        ...             ...                 ...
33243     38.0            0.00               False
33244     30.0            0.00               False
33245   4586.0            0.00               False
33246      0.0            0.00               False
33247      4.0            0.00               False

       Jobs_Group_Business Analyst  Jobs_Group_Business Intelligence  \
0                            False                             False
1                            False                             False
2                            False                             False
3                            False                              True
4                            False                             False
...                            ...                               ...
33243                        False                             False
33244                        False                             False
33245                        False                             False
33246                         True                             False
33247                        False                             False

       Jobs_Group_CFO  Jobs_Group_Controller  Jobs_Group_Data Analyst  \
0               False                  False                    False
1               False                   True                    False
2               False                  False                    False
3               False                  False                    False
4               False                  False                    False
...               ...                    ...                      ...
33243           False                  False                    False
33244           False                  False                    False
33245           False                  False                    False
33246           False                  False                    False
33247           False                  False                     True

       Jobs_Group_Data Engineer  Jobs_Group_Data Scientist  \
0                         False                      False
1                         False                      False
2                         False                      False
3                         False                      False
4                         False                      False
...                         ...                        ...
33243                     False                      False
33244                     False                      False
33245                     False                      False
33246                     False                      False
33247                     False                      False

       Jobs_Group_Finance  Jobs_Group_Financial Analyst  \
0                   False                          True
1                   False                         False
2                   False                          True
3                   False                         False
4                   False                         False
...                   ...                           ...
33243                True                         False
33244                True                         False
33245               False                          True
33246               False                         False
33247               False                         False

       Jobs_Group_ML/AI Engineer  Jobs_Group_Operations Analyst  \
0                          False                          False
1                          False                          False
2                          False                          False
3                          False                          False
4                          False                           True
...                          ...                            ...
33243                      False                          False
33244                      False                          False
33245                      False                          False
33246                      False                          False
33247                      False                          False

       Jobs_Group_Others  Jobs_Group_Statistician/Mathemathics  Company_0  \
0                  False                                 False      False
1                  False                                 False      False
2                  False                                 False      False
3                  False                                 False      False
4                  False                                 False      False
...                  ...                                   ...        ...
33243              False                                 False      False
33244              False                                 False      False
33245              False                                 False      False
33246              False                                 False      False
33247              False                                 False      False

       Company_"K" Line America, Inc.  Company_#twiceasnice Recruiting  \
0                               False                            False
1                               False                            False
2                               False                            False
3                               False                            False
4                               False                            False
...                               ...                              ...
33243                           False                            False
33244                           False                            False
33245                           False                            False
33246                           False                            False
33247                           False                            False

       Company_(QSI) - Quality Systems Integrators  Company_0 percent  \
0                                            False              False
1                                            False              False
2                                            False              False
3                                            False              False
4                                            False              False
...                                            ...                ...
33243                                        False              False
33244                                        False              False
33245                                        False              False
33246                                        False              False
33247                                        False              False

       Company_1 Connect Group, LLC  Company_1 Hotel West Hollywood  \
0                             False                           False
1                             False                           False
2                             False                           False
3                             False                           False
4                             False                           False
...                             ...                             ...
33243                         False                           False
33244                         False                           False
33245                         False                           False
33246                         False                           False
33247                         False                           False

       Company_1 Point System  Company_1 Point System LLC  \
0                       False                       False
1                       False                       False
2                       False                       False
3                       False                       False
4                       False                       False
...                       ...                         ...
33243                   False                       False
33244                   False                       False
33245                   False                       False
33246                   False                       False
33247                   False                       False

       Company_1 Point System LLC.  Company_1 Resource Group  \
0                            False                     False
1                            False                     False
2                            False                     False
3                            False                     False
4                            False                     False
...                            ...                       ...
33243                        False                     False
33244                        False                     False
33245                        False                     False
33246                        False                     False
33247                        False                     False

       Company_1 Tom Plumber, LLC  Company_10 - Operating Fund  \
0                           False                        False
1                           False                        False
2                           False                        False
3                           False                        False
4                           False                        False
...                           ...                          ...
33243                       False                        False
33244                       False                        False
33245                       False                        False
33246                       False                        False
33247                       False                        False

       Company_100 Degrees Consulting LLC  Company_100 THIEVES  \
0                                   False                False
1                                   False                False
2                                   False                False
3                                   False                False
4                                   False                False
...                                   ...                  ...
33243                               False                False
33244                               False                False
33245                               False                False
33246                               False                False
33247                               False                False

       Company_1021 Creative  Company_109 Holdco, LLC  Company_10K  \
0                      False                    False        False
1                      False                    False        False
2                      False                    False        False
3                      False                    False        False
4                      False                    False        False
...                      ...                      ...          ...
33243                  False                    False        False
33244                  False                    False        False
33245                  False                    False        False
33246                  False                    False        False
33247                  False                    False        False

       Company_10X Recruiting Partners  Company_11 Residential  \
0                                False                   False
1                                False                   False
2                                False                   False
3                                False                   False
4                                False                   False
...                                ...                     ...
33243                            False                   False
33244                            False                   False
33245                            False                   False
33246                            False                   False
33247                            False                   False

       Company_1199SEIU Benefit and Pension Funds  Company_11:59:00  \
0                                           False             False
1                                           False             False
2                                           False             False
3                                           False             False
4                                           False             False
...                                           ...               ...
33243                                       False             False
33244                                       False             False
33245                                       False             False
33246                                       False             False
33247                                       False             False

       Company_1541 Hotel Manager Llc  Company_16 Points Holdings LLC  \
0                               False                           False
1                               False                           False
2                               False                           False
3                               False                           False
4                               False                           False
...                               ...                             ...
33243                           False                           False
33244                           False                           False
33245                           False                           False
33246                           False                           False
33247                           False                           False

       Company_160over90  Company_18 Main  Company_180 Multifamily Management  \
0                  False            False                               False
1                  False            False                               False
2                  False            False                               False
3                  False            False                               False
4                  False            False                               False
...                  ...              ...                                 ...
33243              False            False                               False
33244              False            False                               False
33245              False            False                               False
33246              False            False                               False
33247              False            False                               False

       Company_1840 & Company  ...  \
0                       False  ...
1                       False  ...
2                       False  ...
3                       False  ...
4                       False  ...
...                       ...  ...
33243                   False  ...
33244                   False  ...
33245                   False  ...
33246                   False  ...
33247                   False  ...

       Skills_['Word', 'Salesforce', '.NET', 'Excel']  \
0                                               False
1                                               False
2                                               False
3                                               False
4                                               False
...                                               ...
33243                                           False
33244                                           False
33245                                           False
33246                                           False
33247                                           False

       Skills_['Word', 'Salesforce', 'Bachelor', 'Excel']  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
33243                                              False
33244                                              False
33245                                              False
33246                                              False
33247                                              False

       Skills_['Word', 'Salesforce', 'Dynamics 365']  \
0                                              False
1                                              False
2                                              False
3                                              False
4                                              False
...                                              ...
33243                                          False
33244                                          False
33245                                          False
33246                                          False
33247                                          False

       Skills_['Word', 'Salesforce', 'Excel', 'Bachelor', 'Office']  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
33243                                              False
33244                                              False
33245                                              False
33246                                              False
33247                                              False

       Skills_['Word', 'Salesforce', 'Excel', 'CPA', 'Office']  \
0                                                  False
1                                                  False
2                                                  False
3                                                  False
4                                                  False
...                                                  ...
33243                                              False
33244                                              False
33245                                              False
33246                                              False
33247                                              False

       Skills_['Word', 'Salesforce', 'Excel', 'Cognos', 'Bachelor', 'Office']  \
0                                                  False
1                                                  False

In [24]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22166 entries, 33248 to 55413
Columns: 38454 entries, Profile to Sector_Group_Transportation and Logistics
dtypes: bool(38446), float64(4), int64(4)
memory usage: 814.1 MB

In [25]:
# MODELLEME: Makina Öğrenmesi
x=train.drop('Mean_Salary',axis=1)
y=train[['Mean_Salary']]

def fnc_all_regression_models(x,y):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge,Lasso
    from sklearn.linear_model import ElasticNet
    from sklearn.tree import ExtraTreeRegressor
    from sklearn.ensemble import GradientBoostingRegressor
    from sklearn.neighbors import KNeighborsRegressor

    from sklearn.model_selection import train_test_split

    from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error


    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

    L=LinearRegression()
    R=Ridge()
    Lass=Lasso()
    E=ElasticNet()
    ExTree=ExtraTreeRegressor()
    GBR=GradientBoostingRegressor()
    KN=KNeighborsRegressor()

    algos=[L,R,Lass,E,ExTree,GBR,KN]
    algo_names=['LinearRegression','Ridge','Lasso','ElasticNet','ExtraTreeRegressor','GradientBoostingRegressor','KNeighborsRegressor']
    r_squared=[]
    rmse=[]
    mae=[]

    result=pd.DataFrame(columns=['R_Squared','RMSE','MAE'],index=algo_names)

    for item in algos:
        item.fit(x_train,y_train)
        item.predict(x_test)
        r_squared.append(r2_score(y_test,item.predict(x_test)))
        rmse.append((mean_squared_error(y_test,item.predict(x_test)))**.5)
        mae.append(mean_absolute_error(y_test,item.predict(x_test)))

    result.R_Squared=r_squared
    result.RMSE=rmse
    result.MAE=mae

    return result.sort_values('R_Squared',ascending=False)

fnc_all_regression_models(x,y)

In [26]:
!pip install pycaret

Collecting pycaret
  Obtaining dependency information for pycaret from https://files.pythonhosted.org/packages/eb/43/ec8d59a663e0a1a67196b404ec38ccb0051708bad74a48c80d96c61dd0e5/pycaret-3.2.0-py3-none-any.whl.metadata
  Downloading pycaret-3.2.0-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: category-encoders>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (2.6.3)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.10/site-packages (from pycaret) (2.2.1)
Requirement already satisfied: deprecation>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (2.1.0)
Requirement already satisfied: imbalanced-learn>=0.8.1 in /opt/conda/lib/python3.10/site-packages (from pycaret) (0.11.0)
Requirement already satisfied: importlib-metadata>=4.12.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (6.8.0)
Requirement already satisfied: ipython>=5.5.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (8.14.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /opt/conda/lib/python3.10/site-packages (from pycaret) (7.7.1)
Requirement already satisfied: jinja2>=1.2 in /opt/conda/lib/python3.10/site-packages (from pycaret) (3.1.2)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (1.3.2)
Collecting kaleido>=0.2.1 (from pycaret)
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 15.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: lightgbm>=3.0.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (3.3.2)
Requirement already satisfied: markupsafe>=2.0.1 in /opt/conda/lib/python3.10/site-packages (from pycaret) (2.1.3)
Collecting matplotlib<=3.6,>=3.3.0 (from pycaret)
  Downloading matplotlib-3.6.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 72.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: nbformat>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (5.9.2)
Requirement already satisfied: numba>=0.55.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (0.57.1)
Requirement already satisfied: numpy<1.27,>=1.21 in /opt/conda/lib/python3.10/site-packages (from pycaret) (1.24.3)
Collecting pandas<2.0.0,>=1.3.0 (from pycaret)
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 72.2 MB/s eta 0:00:0000:0100:01
Collecting plotly-resampler>=0.8.3.1 (from pycaret)
  Obtaining dependency information for plotly-resampler>=0.8.3.1 from https://files.pythonhosted.org/packages/08/1d/87d4ed45c26226630bcb0a205ff006c00645cc68977e22c0f6f16a7f5d2b/plotly_resampler-0.9.1-py3-none-any.whl.metadata
  Downloading plotly_resampler-0.9.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: plotly>=5.0.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (5.16.1)
Collecting pmdarima!=1.8.1,<3.0.0,>=1.8.0 (from pycaret)
  Obtaining dependency information for pmdarima!=1.8.1,<3.0.0,>=1.8.0 from https://files.pythonhosted.org/packages/ec/2b/e7d18360d56396b62781ba4616527af49244d4bed51f0780646fa3953cc8/pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata
  Downloading pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl.metadata (7.8 kB)
Requirement already satisfied: psutil>=5.9.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (5.9.3)
Collecting pyod>=1.0.8 (from pycaret)
  Downloading pyod-1.1.2.tar.gz (160 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.5/160.5 kB 15.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests>=2.27.1 in /opt/conda/lib/python3.10/site-packages (from pycaret) (2.31.0)
Collecting schemdraw==0.15 (from pycaret)
  Downloading schemdraw-0.15-py3-none-any.whl (106 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 106.8/106.8 kB 11.3 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn<1.3.0,>=1.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (1.2.2)
Requirement already satisfied: scikit-plot>=0.3.7 in /opt/conda/lib/python3.10/site-packages (from pycaret) (0.3.7)
Collecting scipy~=1.10.1 (from pycaret)
  Downloading scipy-1.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 34.4 MB/s eta 0:00:0000:0100:01
Collecting sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1 (from pycaret)
  Obtaining dependency information for sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1 from https://files.pythonhosted.org/packages/0f/70/a791db68c6f6922eb9e79baf1466263147a487c5b7ba7813f5868901e032/sktime-0.21.1-py3-none-any.whl.metadata
  Downloading sktime-0.21.1-py3-none-any.whl.metadata (25 kB)
Requirement already satisfied: statsmodels>=0.12.1 in /opt/conda/lib/python3.10/site-packages (from pycaret) (0.14.0)
Collecting tbats>=1.1.3 (from pycaret)
  Downloading tbats-1.1.3-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.0/44.0 kB 4.0 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.62.0 in /opt/conda/lib/python3.10/site-packages (from pycaret) (4.66.1)
Requirement already satisfied: xxhash in /opt/conda/lib/python3.10/site-packages (from pycaret) (3.4.1)
Requirement already satisfied: yellowbrick>=1.4 in /opt/conda/lib/python3.10/site-packages (from pycaret) (1.5)
Requirement already satisfied: wurlitzer in /opt/conda/lib/python3.10/site-packages (from pycaret) (3.0.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/conda/lib/python3.10/site-packages (from category-encoders>=2.4.0->pycaret) (0.5.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from deprecation>=2.1.0->pycaret) (21.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from imbalanced-learn>=0.8.1->pycaret) (3.2.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=4.12.0->pycaret) (3.16.2)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.19.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython>=5.5.0->pycaret) (4.8.0)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/conda/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (6.25.1)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/conda/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /opt/conda/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (3.6.6)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from ipywidgets>=7.6.5->pycaret) (3.0.8)
Requirement already satisfied: wheel in /opt/conda/lib/python3.10/site-packages (from lightgbm>=3.0.0->pycaret) (0.41.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (10.1.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib<=3.6,>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: fastjsonschema in /opt/conda/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (2.18.0)
Requirement already satisfied: jsonschema>=2.6 in /opt/conda/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (4.19.0)
Requirement already satisfied: jupyter-core in /opt/conda/lib/python3.10/site-packages (from nbformat>=4.2.0->pycaret) (5.3.1)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /opt/conda/lib/python3.10/site-packages (from numba>=0.55.0->pycaret) (0.40.1)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.0.0,>=1.3.0->pycaret) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from plotly>=5.0.0->pycaret) (8.2.3)
Collecting dash<3.0.0,>=2.11.0 (from plotly-resampler>=0.8.3.1->pycaret)
  Obtaining dependency information for dash<3.0.0,>=2.11.0 from https://files.pythonhosted.org/packages/7b/62/438626ab498869249e99376684ba6d88931e7c2dd86d03a92d9d7a9b4c54/dash-2.14.2-py3-none-any.whl.metadata
  Downloading dash-2.14.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in /opt/conda/lib/python3.10/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.9.5)
Collecting trace-updater>=0.0.8 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading trace_updater-0.0.9.1-py3-none-any.whl (185 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 185.2/185.2 kB 16.2 MB/s eta 0:00:00
Collecting tsdownsample==0.1.2 (from plotly-resampler>=0.8.3.1->pycaret)
  Downloading tsdownsample-0.1.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 63.4 MB/s eta 0:00:00:00:01
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/conda/lib/python3.10/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (3.0.0)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.10/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (1.26.15)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /opt/conda/lib/python3.10/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (68.1.2)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from pyod>=1.0.8->pycaret) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests>=2.27.1->pycaret) (2023.11.17)
Requirement already satisfied: deprecated>=1.2.13 in /opt/conda/lib/python3.10/site-packages (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.2.14)
Collecting scikit-base<0.6.0 (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret)
  Obtaining dependency information for scikit-base<0.6.0 from https://files.pythonhosted.org/packages/e1/05/c42d5834896d0c112e76bb5b1ff0532e06cda405ae3154be5593a4aa8f37/scikit_base-0.5.2-py3-none-any.whl.metadata
  Downloading scikit_base-0.5.2-py3-none-any.whl.metadata (8.6 kB)
Requirement already satisfied: Flask<3.1,>=1.0.4 in /opt/conda/lib/python3.10/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.0)
Requirement already satisfied: Werkzeug<3.1 in /opt/conda/lib/python3.10/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (3.0.1)
Collecting dash-html-components==2.0.0 (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: typing-extensions>=4.1.1 in /opt/conda/lib/python3.10/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (4.5.0)
Requirement already satisfied: retrying in /opt/conda/lib/python3.10/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.3)
Collecting ansi2html (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret)
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.10/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.5.6)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/conda/lib/python3.10/site-packages (from deprecated>=1.2.13->sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.15.0)
Requirement already satisfied: comm>=0.1.1 in /opt/conda/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in /opt/conda/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.6.7.post1)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/conda/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (7.4.9)
Requirement already satisfied: pyzmq>=20 in /opt/conda/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (24.0.1)
Requirement already satisfied: tornado>=6.1 in /opt/conda/lib/python3.10/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.3.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.9.2)
Requirement already satisfied: platformdirs>=2.5 in /opt/conda/lib/python3.10/site-packages (from jupyter-core->nbformat>=4.2.0->pycaret) (4.1.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.5.0->pycaret) (0.2.6)
Requirement already satisfied: notebook>=4.4.1 in /opt/conda/lib/python3.10/site-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.5.5)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.2.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /opt/conda/lib/python3.10/site-packages (from Flask<3.1,>=1.0.4->dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.1.2)
Requirement already satisfied: click>=8.1.3 in /opt/conda/lib/python3.10/site-packages (from Flask<3.1,>=1.0.4->dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /opt/conda/lib/python3.10/site-packages (from Flask<3.1,>=1.0.4->dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.7.0)
Requirement already satisfied: entrypoints in /opt/conda/lib/python3.10/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: argon2-cffi in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: nbconvert>=5 in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.4.5)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.17.1)
Requirement already satisfied: prometheus-client in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.17.1)
Requirement already satisfied: nbclassic>=0.4.7 in /opt/conda/lib/python3.10/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.0.0)
Requirement already satisfied: jupyter-server>=1.8 in /opt/conda/lib/python3.10/site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (2.12.1)
Requirement already satisfied: notebook-shim>=0.2.3 in /opt/conda/lib/python3.10/site-packages (from nbclassic>=0.4.7->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.2.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.2.2)
Requirement already satisfied: bleach in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (6.0.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (1.5.0)
Requirement already satisfied: testpath in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.6.0)
Requirement already satisfied: defusedxml in /opt/conda/lib/python3.10/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.6.5->pycaret) (0.7.1)

In [28]:
from pycaret.regression import*

In [29]:
setup(train,target='Mean_Salary')

In [ ]:
best_model=compare_models()

Initiated  . . . . . . . . . . . . . . . . . .           19:40:11
Status     . . . . . . . . . . . . . . . . . .   Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Regression

Empty DataFrame
Columns: [Model, MAE, MSE, RMSE, R2, RMSLE, MAPE, TT (Sec)]
Index: []

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [ ]:
# DERİN ÖĞRENME
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [ ]:
x=train.drop('Mean_Salary',axis=1)
y=train[['Mean_Salary']]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y, train_size=0.80,random_state=42)

In [ ]:
model=Sequential()
model.add(Dense(80,activation='relu'))
model.add(Dense(120,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32,activation='relu'))
model.add(Dense(16,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(1)) #regression
model.compile(loss='mse',optimizer='adam',metrics='mse')

In [ ]:
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=1500,batch_size=128,verbose=1)

In [ ]:
model.summary()

In [ ]:
model.evaluate(x_test,y_test)

In [ ]:
tahmin=model.predict(x_test)

In [ ]:
r2_score(tahmin,y_test)

In [ ]:
loss_df=pd.DataFrame(history.history)
loss_df.plot(figsize=(12,8)) #eğitimin grafiği

In [ ]:
(mean_squared_error(y_test,tahmin))**0.5

In [ ]:
#tahmin ettiğimiz değer ile gerçek değerin grafiği
fig=plt.figure(figsize=(10,5))
plt.scatter(y_test,tahmin)
plt.plot(y_test,y_test,'r')